body {
  background: url(https://img.freepik.com/free-vector/flat-design-monsoon-season-clouds-illustration_23-2149424294.jpg?size=626&ext=jpg&ga=GA1.1.553209589.1713225600&semt=ais);
  height: 100vh;
  background-repeat: repeat;
  background-size: cover;
}